body{
	font-family: 'Montserrat', sans-serif;
	color:white;
	overflow-x: hidden;
  background: url(../img/prj/earth1.jpg) no-repeat center center fixed; 
  background-size: cover;
} 3
html,body{
	width: 100%;
	height: 100%;
}
/*Anmation*/
.animated {
  animation-duration: 1.5s;
  /*animation-fill-mode: both; с этим свойством меню остаеться фиксированным на определенном месте
  а с выключенным оно фиксируеться на экране и с прокруткой остаеться справа постоянно пока не закроешь */
}
@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}
.slideInDown {
  animation-name: slideInDown;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}
/*    Anmation     */

/* 			Main Page 		*/
.spacex{
	margin-top: 5%;
}
.what{
	display: flex;
	justify-content: center;
	font-size: 4rem;
	font-weight: 500;
}
.text{
	padding: 2%;
	background-color:rgba(20, 21, 25, 0.94);
	border:1px solid rgba(255, 255, 255, 0);
	border-radius: 10px;
	margin-top: 1%;
	font-size: 2rem;
}
.det{
	margin-top: 19%;
}
.det-h{
	padding-top: 3%;
	padding-bottom: 2%;
	background-color:rgb(18, 22, 29);
	-webkit-clip-path: polygon(0 23%,100% 0,100% 100%, 0 100%,0 23%);
}
.det-text{
  padding: 5.5%;
	margin-top: -1%;
	padding-top: 3%;
	background-color:rgb(18, 22, 29);
	font-size: 2rem;
}
.re-text{
	padding: 5.5%;
	font-size: 2rem;
}
.img-fh{
	height: 1000px;
}
.img-fh{
  background: url(../img/fh_up.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }
.re{
  height: 80vh;
  background: url(../img/fh_9.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }
.dark{
  background-color:rgb(18, 22, 29);
}
/*      Main Page     */

/*      footer     */

.f-h{
  margin: 0 auto;
  margin-top: 3%;
  font-size: 2.5em;
}
.f-text{
  margin: 0 auto;
  font-size: 1.5em;
}
.f-block{
  margin:0 auto;
  margin-top: 2%;
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.5%;
  border-radius: 10px;
  background-color: white;
}
.f-form{
  width: 65%;
}
.f-te{
  width: 100%;
  height: 100%;
  border-color: #ffffff00;
  border-radius: 10px;
  box-shadow: black!important;
}

.f-te:focus{
    -moz-box-shadow: none!important;
    -webkit-box-shadow: none!important;
    box-shadow: black!important;
}

.f-btn{
  width: 35%;
  height: 100%;
}
.bt{
  width: 100%;
   border: 10px #213f61;
  border-radius: 10px;
  border-color: #213f61;

}
/*      footer     */
/* media queries */
@media (min-width: 50px) and (max-width: 442px) {
  /* стили для орехоеолов */
  .what{
  	font-size: 2em;
  }
  .text{
  	font-size: 0.8em;
  }
  .det-text{
  	font-size: 0.8em;
  }
  .re-text{
  	font-size: 0.8em;
  }
}
@media (min-width: 442px) and (max-width: 767px) {
  /* стили для xs-устройств */
  .what{
  	font-size: 3em;
  }
  .text{
  	font-size: 0.99em;
  }
  .det-text{
  	font-size: 0.99em;
  }
  .re-text{
  	font-size: 0.99em;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* стили для sm-устройств */
  .what{
  	font-size: 3em;
  }
  .text{
  	font-size: 1.1em;
  }
  .det-text{
  	font-size: 1.1em;
  }
  .re-text{
  	font-size: 1.1em;
  }
}
@media (min-width: 991px) and (max-width: 1199px) {
  /* стили для md-устройств */
  .what{
  	font-size: 3.5em;
  }
  .text{
  	font-size: 1.2em;
  }
  .det-text{
  	font-size: 1.2em;
  }
  .re-text{
  	font-size: 1.2em;
  }
}
@media (min-width: 1200px) {
  /* стили для lg-устройств */
  .what{
  	font-size: 3.6em;
  }
  .text{
  	font-size: 1.4em;
  }
  .det-text{
  	font-size: 1.4em;
  }
  .re-text{
  	font-size: 1.4em;
  }
}
.cbalink {
  display: none;
}